{{template "header"}}
<main class="container">
  <h1>Cliente HTTP</h1>
  <p class="d-flex justify-content-end">
    <a href="/clientehttp/crear" class="btn btn-success">
      <i class="fas fa-check"></i>
      Crear registro</a>
  </p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
        <tbody>
      </thead>
        {{range .datos}}
        <td> {{.Id}} </td>
        <td> {{.Nombre}} </td>
        <td> 
          <a href="/clientehttp/editar/{{.Id}}"><i class="fas fa-edit"></i></a>
          <a href="javascript:void(0);" onclick="confirmarSweet('Confirma eliminar','/clientehttp/eliminar/{{.Id}}');"><i class="fas fa-trash-alt"></i></a>

        </td>
      </tbody>
      {{end}}
    </table>
  </div>
</main>
{{template "pie"}}