{{define "header"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/web/static/images/logoStructure.jpeg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="golang, go">
    <meta name="description" content="Sitio web desarrollado con Golang">
    <meta name="author" content="www.cesarcancino.css" >
    <link href="/web/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/static/css/aEstilos1.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/web/static/css/blog.css" rel="stylesheet">
    <link href="/web/static/fontawesome-5-8/css/all.css" rel="stylesheet">

    <title>Golang</title>
</head>
<body>
    <div class="container">
        <header class="border-bottom lh-1 py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
              <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Home 2 con Golang</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="link-secondary" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
              </a>
              <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
          </div>
        </header>
      
        <div class="nav-scroller py-1 mb-3 border-bottom">
          <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="/">Home</a>
            <a class="nav-item nav-link link-body-emphasis" href="/estructuras">Estructuras</a>
            <a class="nav-item nav-link link-body-emphasis" href="/nosotros">Nosotros</a>
            <a class="nav-item nav-link link-body-emphasis" href="/parametros/123/Rusia">Parametros</a>
            <a class="nav-item nav-link link-body-emphasis" href="/formulario">Formulario</a>
            <a class="nav-item nav-link link-body-emphasis" href="/formulario/file">Subir archivo</a>
            <a class="nav-item nav-link link-body-emphasis" href="/recursos">Recursos</a>
            

          </nav>
        </div>
      </div>
{{end}}

{{define "pie"}}
      <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
        <p>Todos los derechos reservador<a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        
      </footer>

      <script src="/web/static/js/jquery-2.0.0.min.js"></script>
      <script src="/web/static/js/bootstrap.js"></script>
      <script src="/web/static/js/sweetalert2.js"></script>
      <script src="/web/static/js/funciones.js"></script>

</body>
</html>
{{end}}